html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }


body {
    background-color: white;
    color: #101214;
    font-family: 'Kumbh Sans', sans-serif;


}


.navContainer, .aboutMeContainer, .projectsContainer, .contactContainer {
    display: flex; 
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
}




/*Navigation Page*/

p {
    font-size: 20px;
}

h1 {
    font-size: 45px;
}

#icons {
    padding: 20px;
}

#twitter:hover {
    color: rgb(29 161 242) !important;
}

#github:hover {
    color: rgb(45,186,78) !important;
}

#linkedin:hover {
    color: rgb(0,119,181) !important;
}

button { 
    background: none;
    border: none; 
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

.line {
    font-size: 20px;
}




/*About Me & Skills Page*/

#aboutMe, #skills {
    width: 50%;
    border: thin solid black;
    text-align: center;
    padding: 15px;
    margin: 6;
}

#skillsLeft {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    float: left;
}


#skillsRight {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    float: right;
}

#aboutMeTitle, #skillsTitle {
    border-style: solid;
    font-size: 35px;
    text-align: center;
    border: thin solid lightgray;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,.12);
}

#aboutMeParagraph {
    font-size: 20px;
    padding: 20px;
}


#skill1, #skill2, #skill3, #skill4, #skill5, #skill6, #skill7, #skill8 {
    padding: 10px;
    border: thin solid lightgray;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,.12);
    margin: 6;
}


/* Projects Page*/
#projectOne, #projectTwo, #projectThree {
    width: 50%;
    border: thin solid lightgray;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,.12);
    margin: 6;
  
}

img {
    width: 225px;
    height: 250px;
    border: solid black;
  }

#projectName {
    padding: 15px;
    font-size: 25px;
}

#codeNames {
    padding:10px;
}



/*Media Queries*/
@media screen and (max-width: 992px) {
   
   h1 {
       font-size: 30px;
   }
   
   p {
       font-size: 18px;
   }
   
   }

