html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }


body {
    background-color: white;
    color: #101214;
    font-family: 'Kumbh Sans', sans-serif;


}

.navContainer,  #contactContainer {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

/*Navigation Page*/

p {
    font-size: 20px;
    color: #6a737d;
}

h1 {
    font-size: 45px;
}

#icons {
    padding: 20px;
}

#twitter:hover {
    color: rgb(29 161 242) !important;
    transition: color 1s;
}

#github:hover {
    color: rgb(45,186,78) !important;
    transition: color 1s;
}

#linkedin:hover {
    color: rgb(0,119,181) !important;
    transition: color 1s;
}

button { 
    background: none;
    border: none; 
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

button:focus {
    outline: none;

}

#navigation {
    display: flex;
    justify-content: center;

}
.line {
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

.contactHover:Hover {
    color:#D2527F;
    transition: color .5s;

}


/*About Me & Skills Page*/

#aboutMe-skills {
    padding: 15px;
    margin: 6;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;

}

#aboutMeSection, #skillsSection {
    margin: auto;
}

#leftSkills, #rightSkills {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#skills {
    display: flex;
    text-align: center;
    padding: 15px;
    margin: 6;
    justify-content: center;
}

#aboutMeTitle, #skillsTitle {
    border-style: solid;
    font-size: 35px;
    text-align: center;
    border: thin solid lightgray;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,.12);
}

#aboutMeParagraph {
    font-size: 20px;
    padding: 20px;
}


#skillOne, #skillTwo, #skillThree, #skillFour, #skillFive, #skillSix, #skillSeven, #skillEight {
    padding: 10px;
    border: thin solid lightgray;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    margin: 6;
}

#skillOne:hover, #skillTwo:hover,#skillThree:hover,#skillFour:hover,#skillFive:hover,#skillSix:hover,
#skillSeven:hover,#skillEight:hover {
    transform: scale(1.1);
}

/* Projects Page*/

#projectContainer {
    padding: 15px;
    margin: 6;
    height: 100%;
    overflow: auto;
}

.card-body {
    border: thin solid lightgray;
    padding: 15px;
    width: 250px;
    height: 250px;
    margin: 6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

/* MAKE A HOVER EFFECT */
/* .card-body:hover {
    transform: scale(1.1);
} */

.projectCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: #6a737d;

}

a:visited {
        color: #6a737d;
    position: absolute; 
}

a:hover {
    color: #D2527F;
}


/*Contact Me Page*/

.contactContainer {
    padding:20px;
}


/*Media Queries*/
@media screen and (max-width: 992px) {
    h1 {
      text-align: center;
      vertical-align: middle;
      line-height: 90px;
      font-size: 40px;
    }
  
  }
  
  @media screen and (max-width: 600px) {
    h1 {
      text-align: center;
      vertical-align: middle;
      line-height: 90px;
      font-size: 32px;
    }


  }
