/*Global Styling*/

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: #101214;
  font-family: "Kumbh Sans", sans-serif;
}

a {
  text-decoration: none;
}

.nav-container,
.contact-container {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto;
}

/*Navigation Section*/

p {
  font-size: 1.3em;
  color: #6a737d;
}

h1 {
  font-size: 3.5em;
}

#icons {
  padding: 20px;
}

#twitter:hover {
  color: #1da1f2 !important;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#github:hover {
  color: #2dba4e !important;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#linkedin:hover {
  color: #0077b5 !important;
  -webkit-transition: color 1s;
  transition: color 1s;
}

button {
  background: none;
  border: none;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1em;
}

button:focus {
  outline: none;
}

button:hover {
  font-weight: bolder;
}

#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.line {
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.contactHover:hover {
  color: #d2527f;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

/*About Me Section*/

.about-me-container {
  padding: 15px;
  margin: 6;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: auto;
}

.about-me-section {
  margin: auto;
  width: 75%;
}

/* Projects Section*/

.project-container {
  padding: 15px;
  margin: 6;
  height: 100%;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2em;
  padding: 50px;
  overflow: auto;
}

.project-cards .card-body {
  background: #fff 50%;
  background-size: cover;
  border-radius: 5px;
  /* box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03); */
  /* transition: all 0.5s ease; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.project-cards .card-body:hover {
  /* box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07); */
  /* transition: all 0.3s ease; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translate3D(0, -1px, 0);
}

.project-cards .card-body .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.project-cards .card-body .card-content a {
  display: block;
  color: #6a737d;
}

.project-cards .card-body .card-content .card-title {
  margin: 0 0 0.5em;
  font-size: 20px;
}

.project-cards .card-body .card-content .project-code {
  display: block;
  margin-bottom: 4px;
  color: #738a94;
  font-size: 12px;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.project-cards .card-body .card-content .card-footer {
  display: flex;
  flex-direction: row;
}

.project-cards .card-body .card-content .card-footer i {
  margin-left: 4px;
  margin-right: 4px;
}

.project-cards .card-body .card-content i:hover {
  color: #6a737d !important;
}

a:visited {
  color: #6a737d;
  position: absolute;
}

/*Contact Me Page*/

.contact-container {
  padding: 20px;
}

#email:hover {
  color: #d2527f !important;
  -webkit-transition: color 1s;
  transition: color 1s;
}

/*Media Queries*/

@media screen and (max-width: 992px) {
  h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 40px;
  }

  .about-me-section {
    margin: auto;
    width: fit-content;
    font-size: smaller;
  }

  .project-cards {
    display: grid;
    grid-template-columns: none;
    grid-gap: 2em;
    padding: 0;
    overflow: visible;
  }

  .project-container {
    overflow: visible;
  }

  .contact-container {
    padding: 20px;
    margin-top: 1200px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 32px;
  }

  .about-me-section {
    margin: auto;
    width: fit-content;
    font-size: smaller;
  }

  .project-cards {
    display: grid;
    grid-template-columns: none;
    grid-gap: 2em;
    padding: 0;
    overflow: visible;
  }

  .project-container {
    overflow: visible;
  }

  .contact-container {
    padding: 20px;
    margin-top: 1200px;
  }
}
