/*Global Styling*/

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: #101214;
  font-family: 'Kumbh Sans', sans-serif;
}

a {
  text-decoration: none;
}

.navContainer,
.contactContainer {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto;
}

/*Navigation Section*/

p {
  font-size: 1.3em;
  color: #6a737d;
}

h1 {
  font-size: 3.5em;
}

#icons {
  padding: 20px;
}

#twitter:hover {
  color: #1da1f2 !important;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#github:hover {
  color: #2dba4e !important;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#linkedin:hover {
  color: #0077b5 !important;
  -webkit-transition: color 1s;
  transition: color 1s;
}

button {
  background: none;
  border: none;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1em;
}

button:focus {
  outline: none;
}

button:hover {
  font-weight: bolder;
}

#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.line {
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.contactHover:Hover {
  color: #d2527f;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

/*About Me Section*/

.aboutMeContainer {
  padding: 15px;
  margin: 6;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: auto;
}

.aboutMeSection {
  margin: auto;
  width: 75%;
}

/* Projects Section*/

.projectContainer {
  padding: 15px;
  margin: 6;
  height: 100%;
  overflow: auto;
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2em;
  padding: 50px;
  overflow: auto;
}


.projectCards .cardBody {
  background: #fff 50%;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
}

.projectCards .cardBody:hover {
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0);
}

.projectCards .cardBody .cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.projectCards .cardBody .cardContent a {
  display: block;
  color: #6a737d;
}

.projectCards .cardBody .cardContent .cardTitle {
  margin: 0 0 0.5em;
  font-size: 20px;
}

.projectCards .cardBody .cardContent .projectCode {
  display: block;
  margin-bottom: 4px;
  color: #738a94;
  font-size: 12px;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.projectCards .cardBody .cardContent .cardFooter {
  display: flex;
  flex-direction: row;

}

.projectCards .cardBody .cardContent .cardFooter i {
  margin-left: 4px;
  margin-right: 4px;

}

.projectCards .cardBody .cardContent i:hover {
  color: #6a737d !important;

}

a:visited {
  color: #6a737d;
  position: absolute;
}



/*Contact Me Page*/

.contactContainer {
  padding: 20px;
}

#email:hover {
  color: #d2527f !important;
  -webkit-transition: color 1s;
  transition: color 1s;
}

/*Media Queries*/

@media screen and (max-width: 992px) {
  h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 40px;
  }

  .aboutMeSection {
    margin: auto;
    width: fit-content;
    font-size: smaller;
  }

  .projectCards {
    display: grid;
    grid-template-columns: none;
    grid-gap: 2em;
    padding: 0;
    overflow: visible;
  }

  .projectContainer {
    overflow: visible;
  }

  .contactContainer {
    padding: 20px;
    margin-top: 1200px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 32px;
  }

  .aboutMeSection {
    margin: auto;
    width: fit-content;
    font-size: smaller;
  }

  .projectCards {
    display: grid;
    grid-template-columns: none;
    grid-gap: 2em;
    padding: 0;
    overflow: visible;
  }

  .projectContainer {
    overflow: visible;
  }

  .contactContainer {
    padding: 20px;
    margin-top: 1200px;
  }
}